html{
  background-color:black;}
 

body{
  color: #fcd8a1;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
  font-size: 45px;
  text-align: center;
}

h2{
  color:sandybrown;
  font-size: 25px;
}

ul{
  font-size: 22px;
  color:burlywood;
}

p{color:#fcd8a1;
  font-size:20px;
}



table, th, td {
  border: 1px solid wheat
}
#golden-text{
  color:peru;
  font-family: 'Anton', sans-serif;
}

.header{
  background-color:black;
  text-align: center;
  padding: 15px;
}

.nav{
  background-color:black;
  text-align: center;
  padding: 15px;
  width: 100%;
}
.nav a{color:#fcd8a1;
       padding: 15px;
       display:inline-block;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav a:hover{
  background:seashell;
  color:black
}

.header,.nav,.middle{
  width:100%;

}

.lside{
  width: 220px;
  margin: 10px;
  float:left;
}
.rside{
  width: 220px;
  margin: 10px;
  float: right;
}
.middle{
  margin: 0 5%;
  text-align: center;
}
 .lside,.middle,.rside{
  padding: 20px;
 }

 a{
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: cornsilk;
}

 .footer{
  text-align: center;
  padding:20px;
  margin: 20px;
  font-size: 20px;
 }
 @media (max-width: 320px){
  html{
  font-size: 43.75%;
  background-color:cadetblue;
  }
  .lside,.middle,.rside{
    width: 100%;
    margin: 0px;
  }
 }

 @media (max-width:768px)  and (min-width:320px){
  html{
    width: 100%;
    margin:0px;
    font-size: 80%;
    background-color:chocolate;
  }
  

 @media (min-width:1200px){
  html{
    width: 100%;
    font-size: 100%;
  }
 }

 }